@model IEnumerable<RhAspMvc.Models.Medecin>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Matricule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateNaiss)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salaire)
        </th>
        <th>
            @Html.DisplayName("Service")
        </th>
        <th>
            @Html.DisplayName("Actions")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Matricule)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Prenom)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nom)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateNaiss)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Salaire)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Service.Libelle)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-success" }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger" }) |
        @Html.ActionLink("Affecter", "Affecter", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-warning" }) |
        @Html.ActionLink("Specialite", "Specialite", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-primary" }) |
    </td>
</tr>
}

</table>
